.jallery {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.active {
    color: #000;
    z-index: 10;
    width: 500px;
}