.jallery {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.jallery__card {
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jallery__img {
    width: 95%;
    height: 95%;
    border-radius: 10px;
}

.active {
    z-index: 10;
    width: 70%;
    padding: 10px;
    position: absolute;
    top: 10%;
}